* {
  font-family: "Ubuntu Mono", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
}

h1,
h2,
h3,
input,
button {
  font-family: "Ubuntu Mono", system-ui;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.top-section {
  display: flex;
  align-items: center;
}

.App-logo {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.title-name {
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background: #f4f3ef;
  gap: 14px;
}

header {
  display: flex;
  align-items: stretch;
  border-radius: 28px;
}

header,
.main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  gap: 14px;
}

header input {
  flex: 1;
  border-radius: 14px;
  outline: none;
  width: 100%;
}

header button {
  border-radius: 14px;
  background: transparent;
  transition-duration: 200ms;
  cursor: pointer;
}

header button:hover {
  opacity: 0.7;
}

header,
header input {
  padding: 14px 18px;
  border: none;
  outline: none;
  background: white;
}

button {
  position: relative;
  font-size: 17px;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 9em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

button::after {
  background-color: #fff;
}

button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

p {
  font-size: 0.9em;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.todoItem {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px;
  border-radius: 14px;
  background: white;
}

.todoItem p {
  flex: 1;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.actionsContainer button {
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
}

.actionsContainer button:hover {
  opacity: 0.7;
}

@media (min-width: 640px) {
  header button,
  header input {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}
